<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PullRefreshTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD4E029E1CA0794D00945507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4E02B21CA0794E00945507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD4E02BD1CA0794E00945507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
